*{
    margin: 0;
    box-sizing: border-box;
}

.btn{
    margin: 0 3px;
    border: none;
    padding: 6px 19px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
.top{
    gap: .7rem;
    display: flex;
    justify-content: center;
    padding-top: 1.4rem;
}
.left{
    height: 100vh;
    width: 60%;
    background-color: rgb(42, 41, 41);
}
.icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon{
  color: #fff;
    font-size: 6rem;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;  flex-direction: column;

}
.bottom{
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
margin: 2rem;
    background-color: rgb(69, 67, 67);
}
.right{
    background-color:  rgb(69, 67, 67);
    flex-grow: 1;
    margin: 1rem 1rem .8rem -1rem;
    border-radius: .5rem;
    color: #fff;
}
section{
    display: flex;
background-color: rgb(42, 41, 41);
}